<div class="modal-header">
            <h3 class="modal-title">Sunrise Details</h3>
        </div>
        <div class="modal-body">
         
           <ul>
           	<li>sunrise: {{row.sunrise}}</li>
           	<li>sunset: {{row.sunset}}</li>
           	<li>Solar Noon: {{parseDate(row.date, row.solar_noon)}}</li>
           	<li>Day Length: {{row.day_length}}</li>
           	<li>Civil Twilight Begin: {{parseDate(row.date, row.civil_twilight_begin)}}</li>
           	<li>rfNauticalAfternoon: {{dateDiff(row.date, row.solar_noon, row.date, row.nautical_twilight_end)}} Hours</li>
           </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="close()">Close</button>
        </div>
